.header {
    grid-column: 1/-1;
    grid-row: 1/2;
    padding: 1rem;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 7rem;
}
img {
    width: 100%;
}
@media only screen and (max-width: 520px) {
    .header {
        flex-direction: column;
    }
    .search {
        margin: 1rem 0;
    }
    .likes {
        align-self: flex-end;
    }
}
.likes .fa {
    color: transparent;
    background-clip: text;
    font-size: 2.5rem;
    background-image: linear-gradient(to right, var(--cpl), var(--cp));
}
.likes .fa:hover {
    background-image: linear-gradient(to right, var(--cpl), var(--cp));
    text-shadow: 1px 1px 5px rgb(238, 135, 51);
}
