.shopping {
    background-color: white;
    z-index: 100;
}

.shopping h3 {
    font-size: 1.3rem;
    transform: skewY(-5deg);
    text-align: center;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, var(--cpl), var(--cp))
}

.shop-list {
    padding: .5rem 1rem;
    border-bottom: 1px solid var(--cs);
    cursor: pointer;
    color: rgb(153, 152, 152);
    transition: all .5s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .8rem;
}
.shop-list span {
    opacity: 0;
    background-color: red;
    color: white;
    padding: .2rem .3rem;
    font-size: .7rem;
    font-weight: 700;
    border-radius: 50%;
    transform: translateX(50%);
    transition: all .5s;
}
.shop-list:hover {
    background-color: var(--cs);
}
.shop-list:hover span{
    opacity: 1;
    transform: none;
}

@media only screen and (max-width: 700px) {
    .shopping {
        grid-column: 1/-1;
    }
}