@keyframes in {
    0% {
        opacity: 0;
        transform: translateY(20rem);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

.list {
    background-color: white;
    position: relative;
    padding-top: 2rem;
}
.ani {
    animation: in 1s;
}
.recipe {
    display: flex;
    padding: .5rem;
    align-items: center;
    cursor: pointer;
    transform: translateY(.2rem);
    transition: all .5s;
    color: red;
}
.recipe:hover {
    transform: none;
    background-color: var(--cs);
}
.recipe .img {
    margin-right: .4rem;
    transition: all .5s;
}
.recipe:hover .img {
    transform: rotate(10deg);
}
.img img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}
.recipe .name {
    color: var(--cp);
}
.recipe .author {
    font-size: .8rem;
    color: gray;
    margin-top: .5rem;
}

@keyframes spin {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0);
    }
}
.simg {
    position: absolute;
    top: 5rem;
    left: 40%;
    z-index: 1000;
    display: none;
    animation: spin 1s infinite;
    width: 20%;
    margin: auto;
    margin-top: 5rem;
    text-align: center;
}
.show {
    display: block;
}
.pbuttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
.pbuttons button {
    padding: .5rem 1rem;
    border-radius: 10rem;
    border: none;
    cursor: pointer;
    color: var(--cp);
    background-color: rgba(252, 232, 196, 0.774);
    transition: all .4s;
}
.pbuttons button:hover {
    box-shadow: 1px 1px 2px rgb(112, 112, 112);
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@media only screen and (max-width: 520px) {
    .list {
        grid-column: 1/-1;
        grid-row: 2/-1;
        z-index: 1000;
    }
    .respon {
        animation: animate 1s;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10000;
        opacity: 1;
        transform: none;
    }
    .listup {
        animation: animate 1s;
        z-index: 10000000;
    }
}