.list {
    background-color: white;
}
.recipe {
    display: flex;
    padding: .5rem;
    align-items: center;
    cursor: pointer;
    transform: translateY(.2rem);
    transition: all .5s;
}
.recipe:hover {
    transform: none;
    background-color: var(--cs);
}
.recipe .img {
    margin-right: .4rem;
    transition: all .5s;
}
.recipe:hover .img {
    transform: rotate(10deg);
}
.img img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}
.recipe .author {
    font-size: .6rem;
}