.list {
    background-color: white;
}
.recipe {
    display: flex;
    padding: .5rem;
    align-items: center;
}
.recipe img {
    width: 4rem;
    height: 4rem;
    margin-right: .4rem;
    border-radius: 50%;
}
.recipe .author {
    font-size: .6rem;
}